
<li><a href="register.php"><i class="fas fa-plus-circle"></i> {t}Register a new GeoKret{/t}</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i> {t}My account{/t} <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/mypage.php"><i class="fas fa-user"></i> {t}Account details{/t}</a></li>
    <li><a href="/mypage.php?co=5"><i class="fas fa-hand-holding"></i> {t}Geokrets in my inventory{/t}</a></li>
    <li><a href="/mypage.php?co=1"><i class="fas fa-arrow-circle-right"></i> {t}My GeoKrety{/t}</a></li>
    <li><a href="/mypage.php?co=2"><i class="fas fa-eye"></i> {t}Watched GeoKrety{/t}</a></li>
    <li><a href="/mypage.php?co=3"><i class="fas fa-bell"></i> {t}My recent logs{/t}</a></li>
    <li><a href="/mypage.php?co=4"><i class="fas fa-road"></i> {t}Recent moves of my GeoKrety{/t}</a></li>
    <li><a href="/galeria.php?f=myown"><i class="fas fa-images"></i> {t}My photos{/t}</a></li>
    <li><a href="/galeria.php?f=mygeokrets"><i class="fas fa-images"></i> {t}Photos of my GeoKrety{/t}</a></li>
    <li><a href="/mapka_kretow.php"><i class="fas fa-map"></i> {t}Where are my GeoKrety?{/t}</a></li>
  </ul>
</li>
<li><a href="longin.php?logout=1"><i class="fas fa-sign-out-alt"></i> {t}Logout{/t}</a></li>
